.myPage {
  width:90%;
}

.tabTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.tabContent {
}

.editButton {
  border: none;
    width: 110px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #41428b;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.editButtonWrap {
  display: flex;
  justify-content: right;
}